<html>
<head>
    <title>about</title>
</head>
<body>
<h1>about page</h1>
<form class="grid" action="/about" method="POST">
    <center>
        {% if name %}
        <h3 style="color: blue;">Hello {{ name }} is typed</h3>
        {% endif %}
    </center>
    <label for="Name">Enter your Name:</label>
    <input type="text" name="name" id="name">
    <select name="mid">
        <optgroup label="7124">7124</optgroup>
        <optgroup label="7121">7121</optgroup>
        <optgroup label="7123">7123</optgroup>
    </select>
    <input type="text" name="testcase" id="testcase">
    <center><input type="submit" class="file_subimt"></center>
</form>
</body>
</html>